/* external css

/* type selector */
/* h1 {
    color:red;
} */


/* class selector */

/* .heading_1{
    color:blue;
} */

/* id Selector */

/* #header{
    color:green;
} */

/* #headerD{
    color:yellow;
} */



h1{
    color:red;
}


.heading_1{
    color:blue;
}